<div class="hidden">{{ interpolatedValue }}</div>
<div class="hidden">
  Property binding example (image)
  <br>
  <img alt="item" [src]="boundPropertyImageURL">
</div>
<div class="hidden">
  <button (click)="onClickEventBindingExample()">event bind</button>
</div>
<div class="hidden">
  <label for="twoWayInput">Two-Way data binding</label> <br>
  <input [(ngModel)]="twoWayDataBindingValue" type="text" id="twoWayInput" name="twoWayInput">
  <br> {{ twoWayDataBindingValue }}
</div>

<div class="hidden">
  <h4>Dependecy Injection Example</h4>
  <app-emp-info></app-emp-info>
  <h4>Form example</h4>
  <app-form></app-form>
</div>
<router-outlet></router-outlet>